<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trj.tlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <!-- @style/PhotoTheme是图片选择界面样式，文档有提供，不要漏掉添加到values/styles里 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>